form.search {
    top: 15px;
    position: relative;
    display: flex;
    margin:auto;
    max-width:50%;
    border-radius: 20px;
    padding: 0px 0px 0px 20px;
    box-shadow: -1px 1px 7px 0px lightgrey;
  }
form.search input[type=text] {
    border-radius: 20px;
    border: none;
    outline: none;
    width: 95%;
  }
  
  form.search button {  
    cursor: pointer;
    margin: 3px 0px 0px 0px;
    background: white;
    color:grey;
    border: none;
    border-radius: 20px;
  }
  
  form.search button:hover {
    color: black;
  }
  .git-user-profile{
      top:15px;
      position: relative;
  }
  
